<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.mananews.apandts">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        tools:ignore="ScopedStorage" />
    <uses-permission
        android:name="android.permission.POST_NOTIFICATIONS"
        tools:node="remove" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@drawable/app_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@drawable/app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:targetApi="m">
        <activity
            android:name="com.mananews.apandts.Activity.ReporterActivity"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.Design.Light.NoActionBar" />
        <activity
            android:name="com.mananews.apandts.Activity.IntroActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.ProfileActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.UserRegistrationActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.LoginActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.CommentActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />

        <activity
            android:name="com.mananews.apandts.Activity.ReferenceActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.FullImageActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.CategoriesActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.Search_Activity"
            android:configChanges="uiMode"
            android:exported="false" />
        <activity
            android:name="com.mananews.apandts.Activity.About_Us"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.Privacy_Policy"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.VideoPlayer_Activity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" /> <!-- <activity android:name=".Activity.ImagePickerActivity" /> -->
        <activity
            android:name="com.mananews.apandts.Activity.Detail_Activity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.Loading_Activity"
            android:configChanges="uiMode"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.MainActivity"
            android:configChanges="uiMode"
            android:exported="false"
            android:hardwareAccelerated="true"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.mananews.apandts.Activity.SplashScreen_Activity"
            android:configChanges="uiMode"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/noti_72" />
        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/black" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>

        <service
            android:name="com.mananews.apandts.utils.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3940256099942544~3347511713" />
    </application>

</manifest>